__pycache__/
#inverse_problem/__pycache__/
#inverse_problem/dataloading/__pycache__/
#inverse_problem/models/__pycache__/
#inverse_problem/utils/__pycache__/

simu_head_model/__pycache__/
simu_nmm

simu_sereega/docs/
simu_sereega/leadfield/
simu_sereega/generate/
simu_sereega/inverse_algorithms_simBCI/
simu_sereega/mains/
simu_sereega/plot/
simu_sereega/pop/
simu_sereega/signal/
simu_sereega/utils/
simu_sereega/mains/
simu_sereega/*.csv

*.pyc 
*.npy
*.txt
*.mat